build:amd64 --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64
run:amd64 --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64
test:amd64 --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64

#build:arm64 --platforms=@io_bazel_rules_go//go/platform:linux_arm64
#run:arm64 --platforms=@io_bazel_rules_go//go/platform:linux_arm64
#test:arm64 --platforms=@io_bazel_rules_go//go/platform:linux_arm64 --host_javabase=@local_jdk//:jdk

build:arm64 --platforms=@io_bazel_rules_go//go/toolchain:linux_arm64 --cpu=arm
run:arm64 --platforms=@io_bazel_rules_go//go/toolchain:linux_arm64 --cpu=arm
